@media screen and (max-width: 390px) {
    html, body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    canvas {
        position: fixed;
        width: 100%;
        height: 98vh;
        z-index: 100;
      }
      .logo {
        width: 85%;
        position: relative;
    }  
    .logo p {
        position: absolute;
        transform: translate(-50%, -80%);
        top: 50%;
        left: 50%;
        font-family: 'EB Garamond', serif;
        color: rgb(212, 212, 169);
        width: 80vw;
        text-align: center;
        letter-spacing: 2px;
        font-size: 1.9rem;
        z-index: -100;
      }
      #show-menu {
        width: 100px;
        height: 100px;
        
        cursor: pointer;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        position: fixed;
        transform: translate(-50%, -50%) scale(1) rotate(0);
        top: 8%;
        right: -11%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        z-index: 101;
      }
      .menu {
        width: 2px;
        height: 2px;
        
        position: absolute;
        top: 2%;
        right: 20%;
        
        
      }  
      footer {
        width: 100%;
        position: absolute;
        bottom: -2%;
    }
    h2 {
        
        opacity: 0;
      }
      .credit {
        position: absolute;
        color: white;
        bottom: 2%;
        font-size: 0.7rem;
        white-space: nowrap;
        transform: translateX(-50%);
        left: 50%;
        z-index: 105;
        opacity: 1;
        
      }  
      
}